# ESP-IDF build output
/build/
/sdkconfig
/sdkconfig.old
/sdkconfig.ci
/flasher_args.json
/project_description.json
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/Makefile

# Component manager / dependencies
managed_components/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.venv/
venv/
env/

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Linux / misc
*.swp
*.swo
*~

wifi_secrets.h
